<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Search Github API</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <!-- <div v-if="error" class="card-panel red lighten-1 error">
                <span class="white-text">No repository found</span>
            </div> -->
            <nav v-if="show">
                <div class="nav-wrapper teal">
                    <div class="col s12"><p>Total repositoy found: <span>{{total}}</span></p></div>
                </div>
            </nav>
            <div class="header">
                <form v-on:submit="searchRepo">
                    <div class="input-field">
                        <input id="keyword" v-model="keyword" type="text" class="validate">
                        <label for="keyword"><i class="fab fa-github-alt"></i>   search repository</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>

            </div>
            <div class="progress" v-if="load">
                <div class="indeterminate"></div>
            </div>
            <ul v-if="show" class="collection">
                <li v-for="repo in repos" class="collection-item avatar">
                    <div class="left-cont">
                            <img v-bind:src="''+repo.owner.avatar_url+''" alt="" class="circle"/>
                           <a v-bind:href="''+repo.url+''"><span class="title">{{repo.owner.login}}</span></a>
                            <p>{{repo.description}}</p>
                    </div>
                    <ul>
                        <li v-if="repo.language"><p v-bind:class="''+repo.language+''"><i class="fas fa-circle"></i><span>{{repo.language}}</span></p></li>
                        <li><p><i class="fas fa-star"></i><a v-bind:href="'https://github.com/'+repo.full_name+'/stargazers'" target="_blank">{{repo.stargazers_count}}</a></p></li>
                        <li v-if="repo.watchers" class="watch"><p><i class="fas fa-eye"></i><span>{{repo.watchers}}</span> </p></li>
                        <li class="date"><p><span class="new badge">Last updated {{repo.updated_at | formatDate}}</span></p></li>
                    </ul>
                </li>
            </ul>
                         
            <ul v-if="show" class="pagination">
                <li v-if="page == 1 " class="disabled"><button v-on:click="nextPage()" disabled><i class="material-icons">chevron_left</i></button></li>
                <li v-if="page != 1 " class="waves-effect"><button v-on:click="nextPage()"><i class="material-icons">chevron_left</i></button></li>
                <li v-for="n in 10" v-bind:class="{'waves-effect': (page != n),'active': (page === n)}"><button v-on:click="repoPage(n)">{{n}}</button></li>
                <li class="waves-effect"><button v-on:click="nextPage()"><i class="material-icons">chevron_right</i></button></li>
            </ul>
        </div>
    </div>
    
    <script>
        Vue.filter('formatDate', function(value) {
            if (value) {
                // return moment(String(value)).format('Do MMMM YYYY')
                return moment(String(value)).startOf('hour').fromNow()
            }
        });
        var vm = new Vue({
            el: '#app',
            data: {
                status: '',
                keyword: '',
                total: '',
                repos: [],
                show: false,
                error: false,
                load: false,
                page: 1
            },

            methods: {
                searchRepo: function(event) {
                    if(event){
                        event.preventDefault()   
                        this.page = 1
                    }
                    var vm = this
                    var searchWord = this.keyword
                    var page = this.page
                    console.log(page)
                    var query = 'https://api.github.com/search/repositories?sort=stars&per_page=10&page='+page+'&q='
                    vm.load = true
                    // console.log(query+searchWord)

                    axios.get(query + searchWord )
                    .then(function (response) {
                        var total = response.data.total_count
                        vm.total = total
                        vm.repos = response.data.items
                        // console.log(response.data.total_count)
                        // console.log(vm.repos)
                        
                        if( total == 0) {
                            vm.error= true
                            vm.show = false
                            vm.load = false
                            vm.keyword = ''
                            var toastHTML = '<span>Repository not found</span><button class="btn-flat toast-action"><i class="fas fa-exclamation-circle"></i></button>';
                            M.toast({html: toastHTML});
                        }else{
                            vm.error= false
                            vm.show = true
                            vm.load = false
                        }

                    })
                    .catch(function (error) {
                        vm.status = 'An error occured.' + error;
                    })
                },
                repoPage: function(arg) {
                    var vm = this
                    this.page = arg
                    this.searchRepo()
                },
                nextPage: function() {
                    var vm = this
                    this.page = this.page + 1
                    this.searchRepo()
                },
                prevPage: function() {
                    var vm = this
                    this.page = this.page - 1
                    this.searchRepo()
                }
            }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>
</html>