@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body {
    font-family: 'Lato', sans-serif;
}
#app {
    padding: 40px 0;
}

.nav-wrapper{
    padding-left: 20px;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    .input-field {
        width: 100%;
        max-width: 500px;
        input {
            background-color: #fff !important;
        }
    }
    button {
        display: block;
        margin-left: 20px;
    }
    padding: 40px 0;
}
.progress, .collection, .pagination, .error {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
ul {
    &.collection {        
        li {
            .left-cont {
                a {
                    color: #000;
                    font-size: 18px;
                    margin-bottom: 15px;
                    display: block;
                }
                p {
                    font-size: 12px;
                }
            }
            ul {
                margin-top: 15px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                li {
                    font-size: 12px;
                    p,a {
                        display: flex;
                        align-items: center;
                        color: #9e9e9e;
                    }
                    i {
                        margin-right: 10px;
                        &.fa-star {
                            color: #fdd835;
                        }
                    }
                    + li {
                        margin-left: 10px;
                        @media screen and (min-width: 768px){
                            margin-left: 15px;
                        }
                    }
                    &.watch {
                        @media screen and (max-width: 320px){
                            margin-left: 0;
                        }
                    }
                    &.date {
                        @media screen and (max-width: 767px){
                            margin-left: 0;
                            flex-basis: 50%;
                        }
                        @media screen and (max-width: 480px){
                            flex-basis: 100%;
                            margin-top: 10px;
                            span {
                                margin-left: 0;
                            }
                        }
                    }
                    .badge {
                        min-height: 22px;
                        height: 100%;
                        &:after {
                            content: '';
                        }
                    }
                    p {
                        &.JavaScript {
                            i {
                                color: #1b5e20;
                            }
                        }
                        &.Vue {
                            i {
                                color: #009688;
                            }
                        }
                        &.CSS {
                            i {
                                color : #2196f3;
                            }
                        }
                        &.SASS {
                            i {
                                color: #e91e63;
                            }
                        }
                        &.HTML {
                            i {
                                color: #ff5722;
                            }
                        }
                        &.PHP, &.TypeScript {
                            i {
                                color: #0d47a1;
                            }
                        }
                        &.Ruby {
                            i {
                                color: #b71c1c ;
                            }
                        }
                    }
                }
            }
        }
    }
    &.pagination {
        margin-top: 40px;
        text-align: center;
        display: flex;
    justify-content: center;
    align-items: center;
        button {
            background-color: transparent;
            border:0;
            cursor: pointer;
            padding: 5px 10px;
        }
        li {
            &.active {
                button {
                    color: #fff;
                }
            }
        }
    }
}